h2 {
    color: blue;
}

p.red {
   color: RGBA(255,0,0,1);
}

.green {
color: green;
}

#yellow {
color: yellow;
}

ul>li {
color: yellow;
}
#alive{
font-family: 'Arial';
font-size: 26pt;
text-align: center;
}
.go-top--show {
display: block;
}
.go-top {
position: fixed;
right: 20px;
bottom: 50px;
cursor: pointer;
/*display: none;*/
topBtn.style.display = 'block';
font-size: 18pt;
color: rgba(0,51,153,0.5);
background: rgba(0,51,153,0.1);
padding: 8px 15px 12px 15px;/*можно писать просто одно число со всех сторон будет одинаковый отступ можно играть самим*/
border-radius: 50%;
}